@tailwind base;
@tailwind components;
@tailwind utilities;

span,
p,
h1,
h2 {
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans Condensed';
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Fira Sans Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #141326;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
